<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register</title>
</head>
<body>
  <%- include('partials/_header') %>
  <form method="POST">
    <h1 class="col">Create Account</h1>
    <div>
      <label class="col-sm-2 col-form-label">Email address</label>
      <div class="col w-25">
        <input type="email" placeholder="Enter email" name="email" class="form-control">
      </div>
    </div>
    <div>
      <label class="col-sm-2 col-form-label">Password</label>
      <div class="col w-25">
        <input type="password" placeholder="Password" name="password" class="form-control"  >
      </div>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary mt-3">Register</button>
    </div>
  </form>
</body>
</html>